/*normalize*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*all*/
*{
	margin:0;
	padding: 0;
	box-sizing: inherit;
}
body {
	color: #75737f;
	font-size: 14px;
	margin: 0;
	padding:0;
}
/*page1-Charity*/
.topbar {
	height: 44px;
	background-color:#FBFBFB;
	border-bottom: 1px solid #eaeaeb;	
}
.topbarmargin {
	height: 44px;
	margin-left: 15px;
	margin-right: 15px;
}
#topbardiv {
	height: 44px;
	float: left;
}
.callus {
	width: 181.84px;
	height: 44px;
	padding-top: 4px;
}
.callus p{
	padding-top: 7px;
}
.callus a{
	color: #27262C;
	font-weight: bold;
	font-size: 14px;
}

.logoheader {
	width: 924px;
	height: 102px;
}
.headermargin {
	padding-right: 15px;
	padding-left: 15px;
	height: 102px;
}
.headerinner {
	float: right;
	padding-top: 35px;

}
.logofoundation {
	width: 305.75px;
	height: 42px;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
}
.logofoundation span {
	border-left: 1px solid #eaeaeb;
	padding-left: 15px;
	margin-left: 15px;
}
.donatemenu {
	height: 44px;
	width: 900px;
	margin-left:630px;

}
.donatemenu li {
	float: left;
	list-style-type: none;
	width: 50px;
	height: 44px;
	border-left: 1px solid #edebf5;
	text-align: center;
	color: #7b7983;
	padding-top: 10px;
}

.menu {
	width: 
	background-color:skyblue;
}

.container {
    display: inline-block;
    cursor: pointer;

}


.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

	/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

	/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

	/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/*body*/
	/*carousel*/
.carousel1 {
	width: 924px;
	height: 600px;
	background-image: url(http://themes.wplook.com/charity/wp-content/uploads/sites/21/2015/08/shutterstock_89663557.jpg);
	background-position: center center;
	overflow: hidden;
}
.featurenews {
	width: 924px;
	height: 571.96px;
	padding-top: 65px;
}
.featurednewsmargin{
	padding-left: 15px;
	padding-right: 15px;
}
.shead {
	width: 894px;
	height: 42px;
}
.sectiontitle{
	width: 894px;
	height: 42px;
	margin-top: 2.800px;
	margin-bottom: 7px;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
.sbody1 {
	width: 894px;
	height: 234px;
	display: inline-block;
}
.sliderbody {
	margin-bottom: 30px;
	float: left;
}

.slide {
	display: inline-block;	
}
.sliderimg{
	width: 357.594;
	height: 153.250;

}
.slide_2 h4 {
	font-size: 16px;
	text-transform: uppercase;
}
.slide_2 {
	display: inline;

}
.slide_3 {
	width: 511.42px;
	height: 72px;
	display: inline-block;
}
.sliderclip {
	width: 894px;
	height: 234px;
	float: left;
}
.slidernews {
	display: inline-block;
}
.slideraction{
	width: 83px;
	height: 40px;
	float: right;
}
.slideractionspre{
	width: 40.5px;
	height: 38px;
	background-color: white;
	border: 1px solid blue;
}
.slideractionsnext{
	width: 40.5px;
	height: 38px;
	background-color: white;
	border: 1px solid blue;
	display: inline-block;
}
.slidebar {
	margin-left: 400px; 
	float: left;
}
.slidebar i {
	margin-left: 15px;
	position: relative;

}
.button {
	text-transform: uppercase;
	color: #f96e1c;
	border: 2px solid #f96e1c;
	width: 115.7px;
	height: 44px;
	text-align: center;
	padding: 11px 15px 15px 12px; 
}
.sfooter1 {
	width: 894px;
	height: 257.8px;
	padding-top:40px;
}
.sfoottitle {
	width: 894px;
	height: 21px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 18px;
	color: #27262C;
	font-weight: 900;
	text-transform: uppercase;
	overflow: hidden;
}
.sfoottitle span {
	margin-right: 8px;
}
.latestimg {
	width: 80px;
}
.latestimgtext div {
	width: 76.52px;
	height: 74px;
	margin-left: 15px;
	margin-right: 40px;
	float: left;
}

.latestimgtext li {
	display: inline-block;
	height: 163.8px;
}
.featured {
	width: 924px;
	height: 645.8px;
	padding-top: 65px;
	margin-top:150px; 
}
.featurenews span {
	width: 50%;
}
.causesmargin {
	width: 924px;
	height: 580.8px;
	padding-left: 15px;
	padding-right: 15px;
}
.causehead {
	 width: 894px;
	 height: 75px;
	 margin-bottom: 42px;
	 text-align: center;
	 background-color: white;
}
.sectionhead{
	margin-top: 2.800px;
	margin-bottom: 12px;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
}
.causehead p {
	margin-bottom: 20px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 2.2;
	color:grey;
	letter-spacing: 3px;
}
.causebody{
	width: 894px;
	height: 461px;
}
.sliderfeatured {
	width: 570px;
	height: 461px;
	margin-left: 162px;
	margin-right: 162px;
}
.sliderfeatured li {
	float: left;
}
.sliderfeatured p{
	width: 250px;
	overflow: hidden;
	color:grey;
}
.carousel2 {
	width: 924px;
	height: 350px;
	margin-top: 65px;
	background-image: url("http://themes.wplook.com/charity/wp-content/uploads/sites/21/2015/08/shutterstock_89663557-1660x880.jpg");
	background-position: center center;			
	display: relative;

}
.sponser {
	width: 924px;
	height: 424.8px;
}
.sponserhead {
	margin-top: 100px;
	margin-left: 10px;
	color: white;
	background-color: #333;
}
.sponserhead li {
	float: left;
	list-style-type: none;
	margin-left: 30px;
	margin-top: 10px;
}
#charitymail {
	color: #f96e1c;
}
.sponsermargin {
	padding-top:300px; 
}
.sponserbutton button{
	width: 172px;
	height: 44px;
	border: 1px solid #f96e1c;
	background-color: #27262c;
	color: #f96e1c;
}

.aboutus {
	margin-top: 50px;
	width: 924px;
	height: 424.8px;
	background-color: #27262C;

}
.ourstaff {
	width: 924px;
	height: 1142.8px;
	background-color: #27262C;
	height: 414.8px;

}
.testmonials {
	width: 924px;
	height: 1043px;
	background-color: white;
	margin-left: 30px;
}
#staffimg {
	float: left;
}
#staffimg2 {
	float: right;
	margin-right:30px; 
}
#staffimg4 {
	float: right;
	margin-right:30px; 
}
.staff1 a {
	text-decoration: none;
	color: black;
}
.staffside {
	width: 602px;
	height: 248px;	
	border: 1px solid #ddd;
	margin-left: 292px;
	position: relative;
}
.staffside1 {
	width: 602px;
	height: 248px;	
	border: 1px solid #ddd;
	margin-right: 292px;
	position: relative;
}
.staffside4 {
	width: 602px;
	height: 248px;	
	border: 1px solid #ddd;
	margin-right: 292px;
	position: relative;
}
.staffside i {
	margin-right: 30px;
}
.staffi {
	text-align: center;
}
.staffsidetext {
	margin: 20px;
	text-align: center;
}
.testmonials2 {
	padding-top: 65px;
	width: 924px;
}
.testmonialheadimg {
	text-align: center;
}
.testmonialscontent {
	width: 924px;
	height: 312px;
	background-color: #f96e1c;
	margin-left: 30px;
	margin-right: 30px;
	padding: 30px;
}
.testmonialscontent p {
	color: white;
	font-size: 21px;
	font-style: italic;
	letter-spacing: 0.05em;
	line-height: 1.6;
	text-align: center;	
}
.changedtheworld {
	width: 924px;
	height: 215.8px;
	background-color: grey;
}
.footer {
	width: 924px;
	height: 866.19px;
	background-color: #27262C;
}
.img {
	vertical-align: unset;
}

